{% for bb in blogs %}
  <div class="col s12">
    <a href="{% url 'blog:blogpage' bb.blog_slug %}">
      <div class="card white-grey darken-2 hoverable">
        <div class="card-content black-text">
          <span class="card-title">{{bb.blog_title}}</span>
          <p>{{bb.publisher}}</p>
          <p style="font-size: 80%">{{bb.blog_published}}</p>
        </div>
      </div>
    </a>
  </div>
{% empty %}
    <br><br>
    <h3 style="font-weight: lighter;" class="grey-text">
      Sorry, no such blogs available right now. &#128528
    </h3>
{% endfor %}