<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">You've reached the end</h5>
        <p class="grey-text text-lighten-4">Thank you for visiting this site.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="mailto:sanonymous371@gmail.com">sanonymous371@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    &#128515 Love U 3000!!
    </div>
  </div>
</footer>
