<!-- Modal for information -->
{% if info and not user.is_authenticated %}
<!--HR-->
<div class="modal">
  <div class="modal-content">
    <h4>For Visitors</h4>
    <p><b>This site was created and deployed for learning purposes only.</b></p>
    <p>It's a humble request to the users to use this website for spreading knowledge and not for spreading misinformation and demeaning others.</p>
    <p><b>The content on this site is unregulated and the administrators don't align themselves to any of the blogs shared by the other users.</b> Continuing on this site, you agree that you will use this site for good and won't hold the administrator liable for the content on the site.</p>
  </div>
  <div class="modal-footer">
    <a href="{% url 'blog:blogpage' info.blog_slug %}">
      <button class='btn-flat toast-action'>How To Blog?</button>
    </a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay</a>
  </div>
</div>
<script>
	document.addEventListener('DOMContentLoaded', function () {
	    var no_display = localStorage.getItem('no_display');
	    if (no_display === 'true') {
		  return;
            }
	    var Modalelem = document.querySelector('.modal');
	    var instance = M.Modal.init(Modalelem);
	    instance.open();
		
	    localStorage.setItem('no_display', 'true');
	});
</script>
{% endif %}
