<li><form method="GET" action="{% url 'blog:search' %}"  style="padding-top: 10px;padding-left: 2px;height: 10%">
          <input name="q" type="search" placeholder="search" style="font-size: 16px">
        </form></li>
{% if user.is_authenticated %}
  <li><a href="{% url 'blog:profile' user.username %}" class="black-text">{{user.username}}</a></li>
  <li><a href="{% url 'blog:addblog' %}" target="__blank" class="black-text">Add Blog</a></li>
  <li><a href="{% url 'blog:logout' %}?next={{request.path}}" class="black-text">Logout</a></li>
{% else %}
  <li><a href="{% url 'blog:login' %}?next={% url 'blog:addblog' %}" class="black-text">Add Blog</a></li>
  <li><a href="{% url 'blog:login' %}?next={{request.path}}" class="black-text">Login</a></li>
  <li><a href="{% url 'blog:register' %}" class="black-text">Register</a></li>
{% endif %}