{% extends 'blog/header.html' %}

{% block title %}
  {{blog.blog_title}}
{% endblock %}

{% block content %}
{% url 'blog:profile' blog.publisher.username as author%}
  
    <h2>{{blog.blog_title}}</h2> 
    <div class="row">
      <div class="col s6" >
          <p class = "grey-text" style="font-size: 80%">
            <strong>{{blog.blog_published|date:'M d, Y'}}</strong>
          </p>
          <p style="margin-top: -12px">
            <strong>by <a href="{{author}}" style="color:black"><u>{{blog.publisher.first_name}} {{blog.publisher.last_name}}</u></a></strong>
          </p>
      </div>
      {% if blog.publisher == request.user %}
      <div class="col s6" >
          <p class="right" style="padding-top: 4px">
              <a href="{% url 'blog:modify' blog.blog_slug %}?next={{request.path}}" style="color:black"><i class="material-icons">edit</i></a>
              <a class="modal-trigger" href="#del-modal" style="color:black"><i class="material-icons">delete</i></a>    
          </p>
      </div>
      {% include 'blog/includes/delblog.html' %}
      {% endif %}
    </div>
    <p class="flow-text">{{blog.blog_content|safe}}</p>
    <br>
  
<hr>
<h5 id="comments">Comments</h5>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'blog:add-comment' blog.blog_slug blog.blog_slug %}">
  {% csrf_token %}
  <input type="text" name="comment" placeholder="Enter your comment">
  <button type = 'submit' class = "btn-small btn-flat white" style="padding-left: 0px">Comment<i class="material-icons right black-text">send</i></button>
</form>
{% else %}
<p>Login to Comment or Reply.</p>
{% endif %}
<br>
{% if comments %}
  {% include "blog/includes/comments.html" %}
{% else %}
  <h6>Be the first to comment!!</h6>
{% endif %}
<script>
    function reply(commentid) {
      var x = document.getElementById("com"+commentid);
      if (x.style.display === "none") {
        x.style.display = "block";
        x.elements['comment'].focus();
      } else {
        x.style.display = "none";
      }
    } 
</script>
{% endblock %}


