{% extends 'blog/header.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  <div class="row">
    {% for bb in blogs %}
      <div class="col s12 m6">
        <a href="blog/{{bb.blog_slug}}">
          <div class="card white-grey darken-2 hoverable">
            <div class="card-content black-text">
              <span class="card-title">{{bb.blog_title}}</span>
              <p>by {{bb.publisher}}</p>
              <p style="font-size: 80%">{{bb.blog_published}}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <h1 style="font-weight: lighter">Sorry, no blogs available right now.</h1>
    {% endfor %}
  </div>

{% endblock %}


