{% extends 'blog/header.html' %}

{% block title %}
  Blog4All - Home
{% endblock %}



{% block content %}
  {% include 'blog/includes/infomodal.html' %}
  <div class="row">
    {% for bb in blogs %}
      <div class="col s12">
        <a href="{% url 'blog:blogpage' bb.blog_slug %}">
          <div class="card white-grey darken-2 hoverable">
            <div class="card-content black-text">
              <span class="card-title">{{bb.blog_title}}</span>
              <p>by {{bb.publisher}}</p>
              <p style="font-size: 80%">{{bb.blog_published}}</p>
            </div>
          </div>
        </a>
      </div>
    {% empty %}
      <h2 style="font-weight: lighter">Sorry, no blogs available right now. &#128528</h2>
    {% endfor %}
  </div>

{% endblock %}


